.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: #000;
}

.contenedor-formulario {
    width: 300px;
    height: 200px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-enlace {
    padding: 0.7em 1em;
    border-radius: 5px;
    background-color: #9e6a00;

    transition: 0.2s ease all;

    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #FFF;
}

.boton-enlace:hover {
    background-color: #744d00;
}